
<h1> List of Cocktails </h1>

  <ul class="list-group">
    <% @cocktails.each do |cocktail| %>
    <li class="list-group-item">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <%= cl_image_tag cocktail.photo, height: 200, width: 200, crop: :fill %>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
       cocktail_path(cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } %> </p>
    </li>
    <% end %>
  </ul>

  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "add a cocktail", class: "btn btn-primary" %>
  <% end %>
