<h1> <%= @cocktail.name %> </h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
  <li class="list-group-item">
    <p>  <%= dose.description %> : <%= dose.ingredient.name %>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
       dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %> </p>
  </li>
  <% end %>
</ul>


  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.order(:name) %>
  <%= f.submit "add a dose", class: "btn btn-primary" %>
  <% end %>

<br/>

<%= link_to 'backToListOfCocktails', cocktails_path %>






